# Python
__pycache__/
*.pyc
*.egg-info/
venv/
.venv/

# Models
models/saved/*.joblib
models/saved/*.json

# Data (full dataset)
data/creditcard.csv

# Environment
.env
*.stackdump

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
